# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Latex .aux files
*.aux

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
Computer-Networks.iml
UE2/2.1/InternetArchitectures.aux
UE2/2.2/NetworkTypes.aux
UE2/2.3/ISO_OSIRefModel.aux
